/*---------- sidebar menu -----*/
*,
*::after,
*::before {
box-sizing: border-box;
}

body {
margin: 0;
}

:root {
--bar-width: 60px;
--bar-height: 8px;
--hamburger-gap: 6px;
--foreground: #333;
--background: white;
--hamburger-margin: 8px;
--animation-timing: 200ms ease-in-out;
--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
--x-width: calc(var(--hamburger-height) * 1.41421356237);
display: flex;
flex-direction: column;
gap: var(--hamburger-gap);
width: max-content;
position: absolute;
top: var(--hamburger-margin);
left: var(--hamburger-margin);
z-index: 4;
cursor: pointer;
padding: 10px ;
padding: 10px;
}

.hamburger-menu:has(input:checked) {
--foreground: white;
--background: black;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
border: 1px solid var(--background);
box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
content: "";
width: var(--bar-width);
height: var(--bar-height);
background-color: var(--foreground);
border-radius: 9999px;
transform-origin: left center;
transition: opacity var(--animation-timing), width var(--animation-timing),
  rotate var(--animation-timing), translate var(--animation-timing),
  background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
rotate: 45deg;
width: var(--x-width);
translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
rotate: -45deg;
width: var(--x-width);
translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
opacity: 0;
width: 0;
}

.sidebar {
  transition: transform var(--animation-timing);
  transform: translateX(-100%);
  position: fixed;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  height: 100%;
  width: 300px;
  background-color: var(--foreground);
  color: var(--background);
  min-height: 100vh;
  z-index: 3;
}

button.sibebar-text {
font-size: 25px;
color: white;
background-color: var(--foreground);
margin-top: 25px;
margin-bottom: 25px;
cursor: pointer;
width: 250px;
border: transparent;
}

.sidebar button.sibebar-text:hover {
background-color: #F2BED1; /* Choose your highlight color */
width: 250px;
height: 60px;
color: black; /* Adjust text color for better visibility */
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0);
}
