/*----- Nothing In Here Yet! Just Setting Up Documents! -----*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3 ),rgba(0,0,0,0.3 )),url(cooking-home.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.navigation-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.navigation-links li a{
    text-decoration: none;
    color: #fff;
}
