*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 17px;
}

.header{
  height: 14%;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
  background-color: #e7b93b;
}

.logo{
  width: 100px;
  cursor: pointer;
}
.nav-links li{

  font-size: 30px;
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}
.nav-links li a{
  text-decoration: none;
  background-color: #e7b93b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-links li a:hover{
  background-color: #fff;
  color: #e7b93b;
}

/*-------------body ---------*/


 .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  height: 100vh;
}

.profile-header {
  flex: 0 0 auto;
  padding: 20px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  width: 80%;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid #e7b93b;
}
.name-info {
  margin-top: 20px;
}

.profile-nav
{
  width: 100%;
}
.profile-info {
  text-align: left;
  padding: 20px;
  width: 100%;
}
.profile-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
}


.profile-tabs li {
  width: 100%;
  border: 1px solid #e7b93b;
  border-radius: 5px;
  margin: 1%;
}

.profile-tabs li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 5%;
  display: block; /* Make the anchor element a block-level element */
}

.profile-tabs li:hover,
.profile-tabs li:focus {
  background-color: #e7b93b; /* Change to yellow */
}

.profile-tabs li a:hover,
.profile-tabs li a:focus {
  color: #fff; /* Change text color to white when hovered or focused */
}
.tab-btn {
  margin-bottom: 10px; /* Adjust the spacing between buttons as needed */
}
.name-info {
  margin: 2%;
  text-align: center; /* Center the name */
}
.verified-icon {
  width: 20px; /* Adjust icon size as needed */
  height: auto;
  margin-left: 5px; /* Add margin between name and icon */
}
.space-top {
  margin-top: 10px; /* Adjust margin-top as needed */
}
#certification {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 2px dotted #e7b93b;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.cert-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  padding: 10px; /* Add padding for spacing */
}

input[type="file"] {
  display: none; /* Hide the default file input */
}
.select-btn{
  border: 1px solid #e7b93b;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2%;
  transition: background-color 0.3s ease;
}
.select-btn:hover{
  background-color: #e7b93b;
  color: #fff;
}

.upload-btn {
  border: 1px solid #e7b93b;
  background-color: #e7b93b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2%;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #a67406; /* Darker shade of yellow on hover */
}
