*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 17px;
}


.header{
  height: 14%;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
  background-color: #eb3d60;
}

.logo{
  width: 100px;
  cursor: pointer;
}
.nav-links li{

  font-size: 30px;
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}
.nav-links li a{
  text-decoration: none;
  color: #fff;
  background-color: #eb3d60;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-links li a:hover{
  background-color: #fff;
  color: #eb3d60;
}

.profile-dropdown {
  position: relative;

}

.menu-dropdown {
  justify-content: center;
  text-align: center;
  line-height: 100px;
  width: 150px;
  position: absolute;
  color: #fff;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  top: 100%;
}
.profile-btn:hover {
  background-color: #fff;
  color: #eb3d60;
}
.profile-dropdown:hover .menu-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-dropdown.active .menu-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-dropdown:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-dropdown-content {
  display: block; /* Change from flex to block */
  color: #fff;
}
.menu-dropdown-content a {
  display: block; /* Each link occupies full width */
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  text-decoration: none;
  background-color: #ffffffd3;
  color: black;
  margin: 5%;
  height: auto;
  width: auto;
  border: 2px solid white;
  border-radius: 5px;
  transition: font-size 0.3s ease;
}
.menu-dropdown-content a:hover {
  font-size: 25px; /* Increase font size on hover */
  font-weight: bold;
  color: #eb3d60;
}

.profile-btn
{
  background-color: #eb3d60;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.profile-btn:hover
{
  background-color: #fff;
  color: #eb3d60;
}
.nav-links li a:hover{
  background-color: #fff;
  color: #eb3d60;
}

 /*-----------upload photo ---------------*/
 .profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  height: 100vh;
}

.profile-header {
  flex: 0 0 auto;
  padding: 20px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.profile-content {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  width: 80%;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid #eb3d60;
}

#listing-picture {
  width: 400px;
  height: 400px;
  border-radius: 5%;
  margin-bottom: 20px;
  border: 5px solid #eb3d60;
}

.name-info {
  margin-top: 20px;
}

.profile-nav
{
  width: 100%;
}
.profile-info {
  text-align: left;
  padding: 20px;
  width: 100%;
}
.profile-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
}


.profile-tabs li {
  width: 100%;
  border: 1px solid #eb3d60;
  border-radius: 5px;
  margin: 1%;
}

.profile-tabs li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 5%;
  display: block; /* Make the anchor element a block-level element */
}

.profile-tabs li:hover,
.profile-tabs li:focus {
  background-color: #eb3d60; /* Change to yellow */
  cursor: pointer;
}

.profile-tabs li a:hover,
.profile-tabs li a:focus {
  color: #fff; /* Change text color to white when hovered or focused */
}
.tab-btn {
  margin-bottom: 10px; /* Adjust the spacing between buttons as needed */
}
.name-info {
  margin: 2%;
  text-align: center; /* Center the name */
}
.verified-icon {
  width: 20px; /* Adjust icon size as needed */
  height: auto;
  margin-left: 5px; /* Add margin between name and icon */
}
.space-top {
  margin-top: 10px; /* Adjust margin-top as needed */
}

.create-listing {
  width: 100%;

  margin: 1%;
}

.listing {
 
  width: 50%;
  height:75%;
  display: flex;
  justify-content: center;
  font-size: 20px;

  visibility: visible;

  background: #eb3d60;
  color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.listingText{
  color: #000;
  justify-content: center;
  margin-bottom: 275px;
}

.property-square
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    width: 20%;
    border: #eb3d60 1px dotted;
    border-radius: 10px;
}

.property-square img
{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 5%;
}
.property-square img:hover
{
    transform: scale(1.1);
}
.property-square img
{
    transition: transform 0.5s;
}
.property-square h3
{
    text-align: center;
    margin: 10px 0;
}
.property-square p
{
    text-align: center;
    margin: 10px 0;
}

.property-info {
    display: flex;
    flex-direction: column; /* Ensures child elements stack vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    margin: 2%;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
}

.property-btn {
    width: 80%;
    border: #eb3d60 2px solid;
    border-radius: 10px;
    margin: 5% auto; /* Center horizontally */
    padding: 5%;
    text-decoration: none;
    color: black;
    text-align: center; /* Ensures text alignment */
}

/* sign in popup */
.login-btn{
	cursor: pointer;
    background: #eb3d60;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    width: 10%;
    font-size: 20px;
    text-align: center;
}

.loginName{
    font-size:0.9em;
}

.left{
	flex:1;
	display:flex;
	flex-direction:column;
	order:1;
}

.container{
    padding: 0 7%;
}

.exit-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.myPopup{ 
    position: absolute;
    transform: translate(55%, 20%);
    z-index: 9999;
    background: #eb3d60;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    width:50%;
    height:50%;
    text-align: center;
}

.myPopup.exit {
    animation: fadeOut 1s;
}

.myPopup.show{
    display: block;
	animation: fadeIn 1s;
}

.myPopup h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.myPopup-Form{
    margin-bottom: 1%;
}

.myPopup-Form label {
    margin-bottom: 5px;
    font-size: 25px;
}

.myPopup-Form input {
    margin-bottom: 1%;
    width: 50%;
    height: 10%;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.sign-in-btn {
    font-size: 18px;
    border: 2px solid white;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    width: 50%;
    margin: 1% auto;
    background-color: #eb3d60;
}

.sign-in-btn:hover {
    background-color: #fff;
    color: #eb3d60;
    font-weight: bold;
}

.reserve-btn {
  font-size: 18px;
  border: 2px solid white;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  margin: 1% auto;
  background-color: #eb3d60;
}

.reserve-btn:hover {
  background-color: #fff;
  color: #eb3d60;
  font-weight: bold;
}

.rating-form {
  font-size: 17px;
}

.star-rating {
	white-space: nowrap;
}
.star-rating [type="radio"] {
	appearance: none;
}
.star-rating i {
	font-size: 1.2em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #eb3d60;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
	color: #eb3d60;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #eb3d60;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}

#listing-picture {
  width: 400px;
  height: 400px;
  border-radius: 5%;
  margin-bottom: 20px;
  border: 5px solid #eb3d60;
}

.listing-info {
  text-align: left;
  padding-bottom: 50px;
  width: 100%;
  margin-top: 40px;
  font-size: 80px;
}

.footer {
  display: flex;
  align-items: center;
  justify-items: space-between;
  background-color: #eb3d60;
  color: #fff;
  padding: 20px 6%;

}

.footer a {
  color: #fff; /* Style links within the footer */
  padding: 2%;
  margin-top: 5%;
  text-decoration: none;
}
.footer a:hover {
  color: #000; /* Change link color to black on hover */
}

.social-media {
  text-align: center;
  padding: 5%;
}

.social-media p {
  margin-bottom: 5%;
}

.icon {
  font-size: 30px;
  margin: 0 10px;
}

.info-footer{
  align-content: center;
  text-align: center;
  width: 30%;
  margin: 3%;
  padding: 1%;
}

.newsletter{
  margin: 2%;
}