*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header{
  height: 14%;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
  background-color: #e7b93b;
}

.logo{
  width: 100px;
  cursor: pointer;
}
.nav-links li{
  font-size: 30px;
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}
.nav-links li a{
  text-decoration: none;
  color: #fff;
}
login-btn{
  cursor: pointer;
  border: 2px solid white;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 10%;
  font-size: 20px;
  text-align: center;
}
/*--------------NURSE LOGIN BUTTON FROM DEVIN :) ---------*/

.login-btn{
	cursor: pointer;
  background: #e7b93b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 10%;
  font-size: 20px;
  text-align: center;
}

.left{
	flex:1;
	display:flex;
	flex-direction:column;
	order:1;
}

.container{
    padding: 0 7%;
}

.exit-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.myPopup{ 
    position: absolute;
    transform: translate(55%, 20%);
    z-index: 9999;
    background: #e7b93b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    width:50%;
    height:50%;
    text-align: center;
}

.myPopup.exit {
    animation: fadeOut 1s;
}

.myPopup.show{
    display: block;
    animation: fadeIn 1s;
}

.myPopup h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.myPopup-Form{
    margin-bottom: 20px;
}

.myPopup-Form label {
    margin-bottom: 5px;
    font-size: 25px;
}

.myPopup-Form input {
    margin-bottom: 5px;
    width: 50%;
    height: 10%;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.sign-in-btn {
    font-size: 18px;
    border: 2px solid white;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    width: 50%;
    margin: 1% auto; 
}

.sign-in-btn:hover {
    background-color: #fff;
    color: #e7b93b;
    font-weight: bold;
}
 /*-----------upload photo ---------------*/
 .profile-container
 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
 
 }
 #profile-picture{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #e7b93b;
  background-position: center;
  background-size: cover;
 }
